



.bg {
	background: url('images/u1.jpg') no-repeat fixed center;
	width:  100%;
	height: 100%;
}



.done-true {
	text-decoration: line-through;
	color: grey;
}
.done-false {
	text-decoration: underline;
 	color: red;
}

.h1 {
	background: white;
	border-radius: 2px;
	text-align:  center;
}

